{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/about.css"> {% endblock css %}
{% block body %}
<script src="/static/index.js"></script>

<!--header-->
<div class="container-fluid" id="aboutHead">
   <div class="overlay">
    <div class="head-content">
        <h1>
                Welcome To UPSIDA
        </h1>
        </div>
            <h5>
                Empowering Business, Protecting Investors, Strengthening India</h5>  
            </div>
</div>
        
<!--article-->
<div class="container-fluid" id="keyCards">
    <div class="card-deck">
        <div class="card    ">
          <img class="card-img-top" src="/static/images/about/logos/about-logo1.png" alt="Card image cap">
            <p class="key-title"><strong>11500+ crores</strong> of Investments </p>
        </div>
        <div class="card   ">
          <img class="card-img-top" src="/static/images/about/logos/about-logo2.png" alt="Card image cap">
            <p class="key-title"><strong>1 Lakh+ employment </strong> generated </p>
        </div>
        <div class="card   ">
          <img class="card-img-top" src="/static/images/about/logos/about-logo3.png" alt="Card image cap">
            <p class="key-title"><strong>2000+ Acre
                of Land
                </strong> Allotted </p>
        </div>
        <div class="card   ">
          <img class="card-img-top" src="/static/images/about/logos/about-logo4.png" alt="Card image cap">
            <p class="key-title"><strong>3500+ units
                </strong> land Allotted </p>
        </div>
      </div>
  </div>
<div class="container-fluid" id="about-article">
    <div class="article">
        <p class="h2">
            About <span id="headingblue">UPSIDA</span>
        </p>
    
    <p >
        We are a public sector undertaking of the Corporation of Uttar Pradesh spearheading the development of industrial infrastructure in State since the last 56 years Pioneer in development of industrial areas, we have delivered iconic industrial Areas. <strong> Townships & Industrial Parks on more than 42000 acres of land, which houses more than 26,000 units providing direct employment to lacs of people.</strong> </p>
    <p>
         Providing contemporary infrastructure facilities and services to our entrepreneurs as our objective, we strive to build on our strength as a pillar of the pulsating industrial ecosystem of Uttar Pradesh that contributes toward the economic, development of the State in particular & the Country in general. To cater to the modern demands of High-tech quality infrastructure, the Corporation has ventured into many new areas by developing High-tech integrated industrial townships like <strong> Trans Ganga and Saraswati High-tech cities and also sector specific industrial areas like Plastic City, Agro Parks, Apparel Park, Leather Park </strong>, among others.</p>
         <div class="about-image">
             <img src="/static/images/about/up.png" width="100%" alt=""> <img src="/static/images/about/up2.jpg" alt="">
         </div>
         <p><strong>UPSIDA has 14 regional offices, 2 project offices, 10
            construction divisions and 2 electrical divisions</strong></p>
    <p>
         With an excellent in house pool of multi disciplinary managerial experts, engineers and architects, compel mented by our in depth experience, today we have transformed ourselves into an organization that provides integrated infrastructure facilities including industrial, residential, commercial, institutional and support facilities reciprocating to the customized business requirements of our clientele. Our facilities are strategically located across the state of Uttar Pradesh at prime locations and near to existing clusters, raw material, hubs, highways etc and are equipped with road network, electrification network, parks and green belts and providing need based space for common facilities like banks, post office, dispensary, police outpost, shops business development centers, fields-hostels, CETP/STP, shopping malls, expo-centers, school, colleges and universities etc.</p>
         <p><strong>UPSIDA is the only authority to provide for e-auction facility
            in the state</strong></p>
    <p>
         Due to the specialized infrastructure and amenities provided by UPSIDC , thousands of small, medium and large industrial units have been setup in our various industrial Areas including<strong> Amul ,Alien Cooper, Asian Paints, Arihant industries, Avon Cycle Ambuja Agro Bhushan Steel, Bharat Electronics Ltd, Birla Cement, Bisleri, Coco-Cola, ConAgra Central Electronics Ltd, Dabur, Dalmia , Escorts, Gyan Diary, Nerolac, Hawkins, Hindustran Petroleum, Indo-Gulf Fertilizers, JP Industries, Piaggio, Nirma, Pepsi, Parle, Raunaq, Raymonds, Rathi Steels, Red Chief, Nerolac, TELCO ,TATA Fertilizer. Dey's Medical, Precision Tools & Casting etc. to name a few.</strong></p>
    <p>
        With Uttar Pradesh rapidly rising to become one of the top business destinations in India, we welcome entrepreneurs desiring to set up or expand their industrial ventures to explore the opportunities being offered by UPSIDC Ltd, all across the State. We assure you the best-in-class integrated infrastructure and escort services completely time bound to meet your requirements.
    </p></div>
</div>
<!--banner-->
<div class="banner " id="banner">
  <div class="jumbotron">
  <p class="subHeading">Mega Investments on Companies like:</p>
  <div class="banner-icons container-fluid">
  <div class="row banrow">
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo1.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo2.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo3.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo4.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo5.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo6.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo7.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo8.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo9.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo10.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo11.png" alt=""></a>
    </div>
    <div class="card banner-item col-lg-2     col-md-3  ">
        <a  ><img src="/static/images/about/logos/logo12.png" alt=""></a>
    </div>
    </div>
  </div></div>
</div> 
{% endblock body %}