{% extends 'base.html' %}
{% block title %}Policies{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/policies.css"> {% endblock css %} <link rel="stylesheet" href="/static/policies.css"> 
{% block body %}
<script src="/static/index.js"></script>
<div class="container-fluid p-0">
<div class="parallax" id="policieHead">
    <div class="over-lay">
        <div class="head-content">
            <p class="h1">
                   UPSIDA Policies
            </p>
            </div>
                <p class="h3">
                    Transparency Guaranteed</p>  
                </div>
 </div></div>
<div class="container" id="policies">
    <div class="policie-head">
        <p class="h2 d-inline">Infrastructure & Industrial Investment Policy</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu1" aria-controls="pdfMenu1" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse show pdf-menu" id="pdfMenu1">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_Hindi.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (Hindi)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_Hindi.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: palevioletred;">
        <p class="h2 d-inline">U.P. Warehousing and Logistic Policy 2018, Policy Rules and Amendments</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu2" aria-controls="pdfMenu2" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu2">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Warehousing%20Policy%20and%20Rules.pdf">IWarehousing Policy and Rules</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Warehousing%20Policy%20and%20Rules.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Warehousing%20amendment.pdf">Warehousing amendment</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Warehousing%20amendment.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Industry%20Status%20to%20Warehosuing.pdf">Industry Status to Warehosuing</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Industry%20Status%20to%20Warehosuing.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/25%20Acres%20Warehousing%20order.pdf">25 Acres Warehousing order</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/25%20Acres%20Warehousing%20order.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Warehouse%20and%20Logistic%20Policy%20Amendment.pdf">Warehouse and Logistic Policy Amendment</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Warehouse%20and%20Logistic%20Policy%20Amendment.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: #ffdfab;">
        <p class="h2 d-inline">Textile Policy</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu3" aria-controls="pdfMenu3" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu3">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
 <div class="policie-head">
        <p class="h2 d-inline">Land Acquisition Policy</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu4" aria-controls="pdfMenu4" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu4">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: palevioletred;">
        <p class="h2 d-inline">UP Electronics Manufacturing Policy</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu5" aria-controls="pdfMenu5" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu5">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: #ffdfab;">
        <p class="h2 d-inline">Uttar Pradesh Information Technology & Startup Policy 2016</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu6" aria-controls="pdfMenu5" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu6">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head">
        <p class="h2 d-inline">Food Processing Industrial Policy - 2012</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu7" aria-controls="pdfMenu7" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu7">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: palevioletred;">
        <p class="h2 d-inline">Solar Power Policy - 2013</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu8" aria-controls="pdfMenu8" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu8">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    <div class="policie-head" style="background-color: #ffdfab;">
        <p class="h2 d-inline">Private Park Criteria Amendment & Scheme</p>
    <button class="pdf-toggler" type="button" data-toggle="collapse" data-target="#pdfMenu9" aria-controls="pdfMenu9" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down"></i>
      </button></div>
        <div class="collapse pdf-menu" id="pdfMenu9">
            <div class="row col-md" id="pdfcontent">
                <div class="pdf-viewer card" >
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="upsida PDF" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                    </div>
                <div class="pdf-viewer card">
                    <div class="card-title"><a href="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf">Industrial Investment & Employment Promotion Policy Of U.P. - 2017 (English)</a></div>
                <iframe class="pdf" height="400" width="400" title="PDF in an i-Frame" src="https://www.onlineupsidc.com/pdf/Indl_Policy_English.pdf" frameborder="1" scrolling="auto" ></iframe>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}