{% extends 'base.html' %}
{% block title %}Projects{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/project.css"> {% endblock css %}
{% block body %}
<script src="/static/index.js"></script>

<div class="container-fluid" id="projectHead">
    <div class="overlay">
     <div class="head-content">
         <h1>
                Flagship Projects
         </h1>
         </div>
             <h5>
                 Even More To Come</h5>  
             </div>
 </div>
 <div class="container-fluid " id="projectList">
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/proj1.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Trans Ganga City</p>
              <p class="project-text">
                  <strong>District:</strong> Unnao<br><br>
                  <strong>Total Available Areas(in acres):</strong> 1144.1 <br><br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/proj2.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Saraswati Hitech City</p>
              <p class="project-text">
                  <strong>District:</strong> Allahabad<br><br>
                  <strong>Total Available Areas(in acres):</strong>1138.78 <br><br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/proj4.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Dibiyapur Plastic Park</p>
              <p class="project-text">
                  <strong>District:</strong> Auraiya<br><br>
                  <strong>Total Available Areas(in acres) :</strong> <br> 367.73<br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/proj6.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Perfume Park</p>
              <p class="project-text">
                  <strong>District:</strong> Kannuaj<br><br>
                  <strong>Total Available Areas(in acres):</strong>	100 <br> <br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/bareili.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Baheri Industrial Area</p>
              <p class="project-text">
                  <strong>District:</strong> Bareilly<br><br>
                  <strong>Total Available Areas(in acres) :</strong> 251<br><br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/leather.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Mega Leather Cluster (MLC) Project</p>
              <p class="project-text">
                  <strong>District:</strong> Ramaipur, Kanpur<br><br>
                  <strong>Total Available Areas(in acres) :</strong> 103<br><br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    <div class="card  " >
        <div class="row no-gutters">
          <div class="col-lg-4">
            <img src="/static/images/projects/moradabad.jpg" class="card-img" alt="...">
          </div>
          <div class="col-lg-8">
            <div class="project-info">
              <p class="project-title text-center">Moradabad Special Economic Zone (SEZ)</p>
              <p class="project-text">
                  <strong>District:</strong> Moradabad<br><br>
                  <strong>Total Available Areas(in acres) :</strong> 467<br><br>
                  <strong>Current Rate: </strong>10850 INR/Sq. mtr. for industrial & 18000 INR/Sq. mtr. for residential 
              </p>
              <div class="links">
              <button class="btn btn-success">Location&nbsp;<span><i class="fas fa-map-marker-alt"></i></span></button>
              <button class="btn btn-primary">Learn More</button>
            </div></div>
          </div>
        </div>
      </div>
    </div>
 
{% endblock body %}