{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/resource.css"> {% endblock css %}
{% block body %}
<script src="/static/index.js"></script>
   
<div class="container-fluid p-0">
    <div class="resource-parallax" id="resourceHead">
        <div class="over-lay">
            <div class="head-content">
                <p class="h1">
                       Resource Center
                </p>
                </div>
                    <p class="h3">
                        Everything you need</p>  
                    </div>
     </div></div>


<div class="container-fluid mt-3">
        <div class="row" id="resourceCards">

            <div class="resource-list card  "><a     href="/">
                <div class="icon"><i class="fas fa-cogs"></i></div>
                <div class="title">Industrial Area operating process
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/officeorder.aspx">
                <div class="icon"><i class="fas fa-gavel"></i></div>
                <div class="title"> 
                   Office Orders
                </div></a>
            </div>
            <div class="resource-list card  "><a     href="https://www.onlineupsidc.com/operating_manual_upsidc.aspx">
                <div class="icon"><i class="fas fa-scroll"></i></div>
                <div class="title">
                    Operating Manual
                </div> </a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/building_23616.aspx">
                <div class="icon"><i class="fas fa-file-alt"></i>
                    </div>
                <div class="title"> 
                   Document for approval of building plan
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/rate_list_245415.aspx">
                <div class="icon"><i class="fas fa-chart-line"></i></div>
                <div class="title"> 
                   Present Rates
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/DevelopmentProcess.aspx">
                <div class="icon"><i class="fas fa-tasks"></i></div>
                <div class="title"> 
                   Development Process
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/conditions_tender.aspx">
                <div class="icon"><i class="fas fa-clipboard-list"></i></div>
                <div class="title"> 
                   Conditions for tender
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/allotment_form.aspx">
                <div class="icon"><i class="fas fa-envelope-open-text"></i></div>
                <div class="title">  
                   Allotment application form

                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/servicelink_03032015.aspx">
                <div class="icon"><i class="fas fa-book-open"></i></div>
                <div class="title"> 
                   Services Rules
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/OfcUser_pdf/OfficeUser2.pdf">
                <div class="icon"><i class="far fa-file-alt"></i></div>
                <div class="title"> 
                   Ammendment In UPSIDA Land Development &amp; Building Regulation  2018
                </div></a>
            </div>
            <div class="resource-list card  "> <a     href="https://www.onlineupsidc.com/OfcUser_pdf/SECOND%20AMMENDMENT%20IN%20UPSIDA%20LAND%20DEVELOPMENT%20AND%20BUILDING%20REGULATION%202018.pdf">
                <div class="icon"><i class="fas fa-file-alt"></i></div>
                <div class="title">  
                   Second Ammendment In UPSIDA Land Development
                </div></a>
            </div>
    
        </div>
    </div>
    

{% endblock body %}